{% extends 'base_doctor.html' %}

{% block message %}
{{ all_message }}
{% endblock %}

{% block content %}
{% load static %}

<section class="container mb-5">

<div class="cont-consult mt-4">

    <section class="col-md-4 sect-etant">
        <div class="contenue" style="width: 100%;">
            <div class="pofile-info">
                <img src="{{ user.photo_profile.url }}" alt="" width="100">
                <div>
                    <p> {{ user.username }} </p>
                    <p><a href="mailto:{{ user.email }}" style="color: black; text-decoration: none;">{{ user.email }}</a></p>
                </div>
            </div>
            <hr>

            <div>

                <h5 style="color: black; font-size: 22px; margin: 19px 0; font-weight: 900;">L'etant du patient</h5>

                <div>
                    <p>Taux du sucre : <strong>{{ user.gycemie.taux_sucre }}g</strong></p>
                    {% if user.gycemie.soif_intense == 0 %}
                        <p>Soif intensif : <strong>Non</strong></p>
                    {% else %}
                        <p>Soif intensif : <strong>Oui</strong></p>
                    {% endif %}
                    
                    {% if user.gycemie.fatigue_extreme == 0 %}
                        <p>Fatigue extreme : <strong>Non</strong></p>
                    {% else %}
                        <p>Fatigue extreme : <strong>Oui</strong></p>
                    {% endif %}

                    {% if user.gycemie.vision_flou == 0 %}
                        <p>Vision flou : <strong>Non</strong></p>
                    {% else %}
                        <p>Vision flou : <strong>Oui</strong></p>
                    {% endif %}


                
                    {% if user.gycemie.secheresse_bouche == 0 %}
                    <p>Secheresse bouche : <strong>Non</strong></p>
                    {% else %}
                        <p>Secheresse bouche : <strong>Oui</strong></p>
                    {% endif %}

                    {% if user.gycemie.perte_poid == 0 %}
                        <p>Perte poid : <strong>Non</strong></p>
                    {% else %}
                        <p>Perte poid : <strong>Oui</strong></p>
                    {% endif %}

                    {% if user.gycemie.cicatrisation_lente == 0 %}
                        <p>Cicatrisation lente : <strong>Non</strong></p>
                    {% else %}
                        <p>Cicatrisation lente : <strong>Oui</strong></p>
                    {% endif %}

                    {% if user.gycemie.infection_frequente == 0 %}
                        <p>Infection frequente : <strong>Non</strong></p>
                    {% else %}
                        <p>Infection frequente : <strong>Oui</strong></p>
                    {% endif %}
                    
                </div>

            </div>

        </div>
        <div class="alim-prescrit">
            <h5>Le(s) Médicaments prescrit pour {{ user.username }}</h5>

            <table>
                <tr>
                    <td>Nom</td>
                    <td>Dosage</td>
                    <td>Descriptions</td>
                </tr>
                {% for medicament in medicaments %}
                <tr>
                    <td>{{ medicament }}</td>
                    <td>{{ medicament.dose }}</td>
                    <td>{{ medicament.description }}</td>  
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="alim-prescrit">

            <h5>Le(s) Aliments prescrit pour {{ user.username }}</h5>

            <table>
                <tr>
                    <td>Nom</td>
                    <td>Vitamine</td>
                    <td>Descriptions</td>
                </tr>
                {% for alimentation in alimentations %}
                <tr>
                    <td>{{ alimentation.nom }}</td>
                    <td>{{ alimentation.vitamine }}</td>
                    <td>{{ alimentation.description }}</td>  
                </tr>
            {% endfor %}
            </table>
        </div>
    </section>

    <section class="sect-prescription">
        <div>
            <h5>Prescrire le medicament au patient</h5>
            <form method="post">
                {% csrf_token %}
                {{ medicForm.as_p }}
                <button>Prescrire</button>
            </form>
        </div>
        <div>
            <h5>Prescrire un aliment au patient</h5>
            <form method="post">
                {% csrf_token %}
                {{ alimForm.as_p }}
                <button>Prescrire</button>
            </form>
        </div>
    </section>

</div>

</section>
        
{% endblock content %}