{% extends 'base_patient.html' %}

{% block message %}
{{ all_message }}
{% endblock %}

{% block content %}
{% load static %}

<section class="container all-patients-message-and-doctor">

    <section class="all-patients-message">
        <div class="">
            {% for users_message in users_messages %}
            <a href="{% url 'patient:MessageToDoctorAll' users_message.expediteur.id %}" style="text-decoration: none;">

                <div class="one-patient one-patient-hover">
                    <img src="{{ users_message.expediteur.photo_profile.url }}" alt="{{ users_message.expediteur.username }}" width="50">
                    <div class="procf-patien">
                        <div>
                            <h5>{{ users_message.expediteur.username }}</h5>
                            <p>{{ users_message.created_at }}</p>
                        </div>
                        <p class="message-on-see">{{ users_message.message }}</p>
                    </div>
                </div>

            </a>
            {% endfor %}
        </div>
    </section>

    {% if selected_user %}
    <section class="mt-2 mb-5 all-doctor-message">

        <div class="all-message-see-doc">
            <div class="all-message-see-doc all-patients-message">

                {% for message in messages_recus %}
                    {% if message.destinateur.isDoctor %}

                        <div class="one-patient doctor-messages-st">
                            <img src="{{ message.expediteur.photo_profile.url }}" alt="{{ users_message.expediteur.username }}">
                            <div class="procf-patien">
                                <div>
                                    <h5>{{ message.expediteur.username }}</h5>
                                    <p>{{ message.created_at }}</p>
                                </div>
                                <p class="message-on-see">{{ message.message }}</p>
                            </div>
                        </div>

                    {% else %}

                        <div class="one-patient doctor-messages-st" style="margin-left: 30px;">
                            <img src="{{ message.expediteur.photo_profile.url }}" alt="{{ users_message.expediteur.username }}">
                            <div class="procf-patien">
                                <div>
                                    <h5>{{ message.expediteur.username }}</h5>
                                    <p>{{ message.created_at }}</p>
                                </div>
                                <p class="message-on-see">{{ message.message }}</p>
                            </div>
                        </div>

                {% endif %}
                
                {% empty %}
                <ul>
                    <li>Pas encore des messages</li>
                </ul>
                {% endfor %}
            </div>


        </div>

        <form method="post" enctype="multipart/form-data" class="form-message-send">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-messages"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
    </section>
    {% endif %}

</section>

{% endblock content %}
