{% extends 'base_patient.html' %}

{% block content %}

{% load static %}

<section class="container mt-5 mb-5">
    <div class="row">
        <div class="main-see col-md-8">
            <div class="graphic-view-ecolutions">
                <div>
                    <p>Rapport du capteur</p>
                </div>
                <div class="graphic">
                    <canvas id="graphic-capteur"></canvas>
                </div>
            </div>

        </div>

        <div class="aside-see col-md-4">
            <div class="Alimentation">
                <h3>Alimentation Proposés</h3>
                <ul>
                    {% for alimentation in alimentations %}
                            {% if alimentation %}
                                <li>{{ alimentation.nom }}</li>  
                            {% else %}
                                <li>aucun</li>
                            {% endif %}               
                    {% endfor %}
                </ul>
            </div>

            <div class="Alimentation">
                <h3>Médicaments Proposés</h3>
                <ul>
                    {% for medicament in medicaments %}
                            {% if medicament %}
                                <li>{{ medicament.nom }}</li> 
                            {% else %}
                                <li>aucun</li>
                            {% endif %}               
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

</section>

<script>
    const barCanvas = document.getElementById("graphic-capteur");


    new Chart(barCanvas, {
        type: "bar",
        data: {
            labels: {{ labels|safe }},
            datasets: [{
                data: {{ data|safe }},
                backgroundColor: [
                    "#29CB97",
                    "#0062FF",
                ],
                tension: 0.1,
                fill: true
            }]
        },
        options: {
            scales: {
                x: {
                    ticks: {
                        fonts: {
                            size: "5px"
                        }
                    }
                }
            }
        }
    });
</script>

{% block message %}

{{ all_message }}
{% endblock %}

{% endblock content %}
